.header_top {
  background-color: #394357;
}

.search_bar_header {
  padding: 10px 0;
  /* background-color: rgba(17, 1, 1, 0.041); */
}

.search_bar_header .logo a {
  width: 100%;
}

.search_bar_header .logo a img {
  height: auto;
  width: 120px;
}

.search_icon {
  position: relative;
}

.search_icon input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #FCFCFC;
}

.search_icon input:focus {
  outline: 1px solid #27375670;
}

.search_icon .btn-search {
  position: absolute;
  left: 0;
  /* z-index: 9; */
  border: none;
  /* background: #fff; */
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 20px;
  padding: 2px 6px;
  color: #000;
  width: 30px;
  height: 100%;
  background: transparent;
  /* border-radius: 50%; */
}

.add_card_icon {
  border-right: 1px solid #000;
  margin-right: 25px;
  color: #fff;
}

.add_card_icon i {
  font-size: 20px;
  color: #000;
}

.add_card_icon > div {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add_card_icon > div.heart {
  margin-right: 20px;
  margin-left: 10px;
}

.add_card_icon > div.bag::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 25px;
  transform: translate3d(-50%, -50%, 0);
  font-weight: bold;
  border: 2px solid #fff;
}

.add_card_icon > div.bag::after {
  content: "2";
  position: absolute;
  height: 25px;
  width: 25px;
  font-size: 14px;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 25px;
  transform: translate3d(-50%, -50%, 0);
  font-weight: bold;
}

/*header_manu*/
.manu_ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
  line-height: 40px;
}

.manu_ul > li a {
  text-decoration: none;
  color: #394357;
}

.manu_ul > li:nth-child(n+2) > a {
  padding: 0 15px;
}

.manu_ul > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  transform: translateY(40px);
  background-color: #fff;
}

.manu_ul > li > ul > li a {
  width: 100%;
  display: block;
}

.manu_ul > li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  z-index: 200;
}

.manu_ul li {
  position: relative;
}

.manu_ul li ul li {
  text-transform: capitalize;
  text-transform: capitalize;
  line-height: 35px;
  padding-left: 12px;
  border-bottom: 1px solid #ddd;
}

.drowp_down_manu_icon::after {
  content: "\f078";
  font-family: "Font Awesome 5 Pro";
  margin: 0 8px;
}

.header_manu {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.header_manu nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_header {
  display: none;
}

.accordion-body {
  text-align: left;
}

.custom {
  color: #B3BCCD;
}

.custom-btn {
  padding: 0;
  background: transparent;
  border: 1px solid gray;
  padding: 3px 0;
}

.view-group {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  background-color: red;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.pagination li {
  list-style-type: none;
  border-radius: 4px;
}

.pagination li a {
  text-decoration: none;
  font-size: 20px;
  color: #555;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 8px;
}

.pagination li:hover {
  background: #DE3935;
  color: #fff;
}

.category-radio ul, .sorting-radio ul {
  margin: 0;
  padding: 0;
}

.category-radio ul li, .sorting-radio ul li {
  list-style-type: none;
}

.category-radio ul li:nth-child(even), .sorting-radio ul li:nth-child(even) {
  background: #F2F5F880;
}

.category-radio ul input[type="radio"], .sorting-radio ul input[type="radio"] {
  display: none;
}

.category-radio ul input[type="radio"]:checked + span, .sorting-radio ul input[type="radio"]:checked + span {
  text-align: center;
}

.category-radio ul input[type="radio"]:checked + span:before, .sorting-radio ul input[type="radio"]:checked + span:before {
  box-shadow: inset 0 0 0 5px #DE3935;
}

.category-radio ul label, .sorting-radio ul label {
  display: block;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}

.category-radio ul label span, .sorting-radio ul label span {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 31px;
  transition: .25s ease;
}

.category-radio ul label span:before, .sorting-radio ul label span:before {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  transition: .25s ease;
  box-shadow: inset 0 0 0 2px #DE3935;
}

.checkbox-div ul {
  margin: 0;
  padding: 0;
}

.checkbox-div ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.checkbox-div ul li:nth-child(even) {
  background: #F2F5F880;
}

.checkbox-div ul li div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.checkbox-div ul li div label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.checkbox-div ul li .color-name {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox-div ul li .black {
  background-color: black;
}

.checkbox-div ul li .red {
  background-color: red;
}

.checkbox-div ul li .golden {
  background-color: gold;
}

.checkbox-div ul li .white {
  background-color: white;
}

.checkbox-div ul input[type="checkbox"] {
  accent-color: #DE3935;
  width: 20px;
  height: 20px;
}

.size-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.size-container button {
  border: none;
  border: 1px solid #E4EAF1;
  padding: 5px 10px;
  flex-grow: 1;
  transition: all .5s;
  border-radius: 4px;
}

.size-container button:hover {
  border: 1px solid #DE3935;
}

#accordion-custom:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

#accordionItem {
  border: none !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  background-color: transparent !important;
  color: transparent;
}

footer .img-container {
  background-color: #F8F8F9;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .mobile_header {
    display: block;
    box-shadow: 0 0 20px #0000000a;
    padding: 10px 16px 0;
    display: block;
    background-color: #fff;
  }
  .search_bar_header {
    display: none;
  }
  .header_manu {
    display: none;
  }
  .th_bar > div {
    width: 40px;
    height: 2px;
    background-color: #555;
  }
  .th_bar > div:nth-child(2) {
    margin: 8px 0;
  }
  .mobile_header_left .logo {
    width: 100%;
  }
  .mobile_header_left .logo a img {
    width: 100px;
    height: auto;
    margin-left: 40px;
  }
  .mobile_header_right {
    height: 100%;
  }
  .mobile_header_right .btn-search {
    background: #fff;
    border: none;
    font-size: 25px;
    margin-right: 10px;
  }
  .add_card_icon {
    border-right: inherit;
    margin-right: 5px;
  }
  .add_card_icon > div.heart {
    margin-right: inherit;
  }
  .sign_in a {
    font-size: 25px;
    text-decoration: none;
    color: #000;
  }
  .mobile_manu {
    width: 90%;
    position: absolute;
    background: rgba(255, 255, 255, 0.146);
    color: #fff;
    top: 50px;
    z-index: 1000;
    left: 5%;
    text-align: center;
    margin: auto;
    display: none;
  }
  .mobile_manu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mobile_manu nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    display: block;
    border-bottom: 1px solid #ddd;
    color: #fff;
    padding: 10px;
  }
}

#menuToggle {
  display: none;
}
