@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
body {
  font-family: 'Poppins', sans-serif !important;
}

.header_top {
  background-color: #394357;
}

.accordion-body {
  text-align: left;
}

.custom {
  color: #B3BCCD;
}

.custom-btn {
  padding: 0;
  background: transparent;
  border: 1px solid gray;
  padding: 3px 0;
}

.view-group {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  background-color: red;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.pagination li {
  list-style-type: none;
  border-radius: 4px;
}

.pagination li a {
  text-decoration: none;
  font-size: 20px;
  color: #555;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 8px;
}

.pagination li:hover {
  background: #DE3935;
  color: #fff;
}

.category-radio ul, .sorting-radio ul {
  margin: 0;
  padding: 0;
}

.category-radio ul li, .sorting-radio ul li {
  list-style-type: none;
}

.category-radio ul li:nth-child(even), .sorting-radio ul li:nth-child(even) {
  background: #F2F5F880;
}

.category-radio ul input[type="radio"], .sorting-radio ul input[type="radio"] {
  display: none;
}

.category-radio ul input[type="radio"]:checked + span, .sorting-radio ul input[type="radio"]:checked + span {
  text-align: center;
}

.category-radio ul input[type="radio"]:checked + span:before, .sorting-radio ul input[type="radio"]:checked + span:before {
  box-shadow: inset 0 0 0 5px #DE3935;
}

.category-radio ul label, .sorting-radio ul label {
  display: block;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}

.category-radio ul label span, .sorting-radio ul label span {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 31px;
  transition: .25s ease;
}

.category-radio ul label span:before, .sorting-radio ul label span:before {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  transition: .25s ease;
  box-shadow: inset 0 0 0 2px #DE3935;
}

.checkbox-div ul {
  margin: 0;
  padding: 0;
}

.checkbox-div ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.checkbox-div ul li:nth-child(even) {
  background: #F2F5F880;
}

.checkbox-div ul li div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.checkbox-div ul li div label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.checkbox-div ul li .color-name {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox-div ul li .black {
  background-color: black;
}

.checkbox-div ul li .red {
  background-color: red;
}

.checkbox-div ul li .golden {
  background-color: gold;
}

.checkbox-div ul li .white {
  background-color: white;
}

.checkbox-div ul input[type="checkbox"] {
  accent-color: #DE3935;
  width: 20px;
  height: 20px;
}

.size-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.size-container button {
  border: none;
  border: 1px solid #E4EAF1;
  padding: 5px 10px;
  flex-grow: 1;
  transition: all .5s;
  border-radius: 4px;
}

.size-container button:hover {
  border: 1px solid #DE3935;
}

#accordion-custom:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

#accordionItem {
  border: none !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  background-color: transparent !important;
  color: transparent;
}

footer .img-container {
  background-color: #F8F8F9;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.irs--round .irs-handle {
  color: #DE3935 !important;
  background-color: #DE3935 !important;
}

.irs--round .irs-from {
  background-color: #DE3935 !important;
}

.irs--round .irs-bar {
  background-color: #DE3935 !important;
}

.irs--round .irs-handle {
  border: 4px solid #DE3935 !important;
}

.irs--round .irs-to {
  background-color: #DE3935 !important;
}

.carousel-item {
  position: relative;
  height: 400px;
}

.carousel-item .content {
  position: absolute;
  bottom: 2%;
  padding-right: 30px;
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 3%;
}

.carousel-item img {
  height: 100%;
}

.carousel-item .buttons {
  display: flex;
}

.carousel-item .buttons .btn-container {
  background: #f1f1f1;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.pagination li a:hover {
  color: #fff !important;
}

.bg-success-custom {
  background: #95cc1f !important;
}

.model {
  font-size: 11px;
}

.prize {
  font-size: 14px;
  color: #0d111b;
}
