

.header_top {
  background-color: #394357;
}


.accordion-body {
  text-align: left;
}

.custom {
  color: #B3BCCD;
}

.custom-btn {
  padding: 0;
  background: transparent;
  border: 1px solid gray;
  padding: 3px 0;
}

.view-group {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  background-color: red;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.pagination li {
  list-style-type: none;
  border-radius: 4px;
}

.pagination li a {
  text-decoration: none;
  font-size: 20px;
  color: #555;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 8px;
}

.pagination li:hover {
  background: #DE3935;
  color: #fff;
}

.category-radio ul, .sorting-radio ul {
  margin: 0;
  padding: 0;
}

.category-radio ul li, .sorting-radio ul li {
  list-style-type: none;
}

.category-radio ul li:nth-child(even), .sorting-radio ul li:nth-child(even) {
  background: #F2F5F880;
}

.category-radio ul input[type="radio"], .sorting-radio ul input[type="radio"] {
  display: none;
}

.category-radio ul input[type="radio"]:checked + span, .sorting-radio ul input[type="radio"]:checked + span {
  text-align: center;
}

.category-radio ul input[type="radio"]:checked + span:before, .sorting-radio ul input[type="radio"]:checked + span:before {
  box-shadow: inset 0 0 0 5px #DE3935;
}

.category-radio ul label, .sorting-radio ul label {
  display: block;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}

.category-radio ul label span, .sorting-radio ul label span {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 31px;
  transition: .25s ease;
}

.category-radio ul label span:before, .sorting-radio ul label span:before {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  transition: .25s ease;
  box-shadow: inset 0 0 0 2px #DE3935;
}

.checkbox-div ul {
  margin: 0;
  padding: 0;
}

.checkbox-div ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.checkbox-div ul li:nth-child(even) {
  background: #F2F5F880;
}

.checkbox-div ul li div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.checkbox-div ul li div label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.checkbox-div ul li .color-name {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox-div ul li .black {
  background-color: black;
}

.checkbox-div ul li .red {
  background-color: red;
}

.checkbox-div ul li .golden {
  background-color: gold;
}

.checkbox-div ul li .white {
  background-color: white;
}

.checkbox-div ul input[type="checkbox"] {
  accent-color: #DE3935;
  width: 20px;
  height: 20px;
}

.size-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.size-container button {
  border: none;
  border: 1px solid #E4EAF1;
  padding: 5px 10px;
  flex-grow: 1;
  transition: all .5s;
  border-radius: 4px;
}

.size-container button:hover {
  border: 1px solid #DE3935;
}



#accordion-custom:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

#accordionItem {
  border: none !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  background-color: transparent !important;
  color: transparent;
}

footer .img-container {
  background-color: #F8F8F9;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .mobile_header {
    display: block;
    box-shadow: 0 0 20px #0000000a;
    padding: 10px 16px 0;
    display: block;
    background-color: #fff;
  }
  .search_bar_header {
    display: none;
  }
  .header_manu {
    display: none;
  }
  .th_bar > div {
    width: 40px;
    height: 2px;
    background-color: #555;
  }
  .th_bar > div:nth-child(2) {
    margin: 8px 0;
  }
  .mobile_header_left .logo {
    width: 100%;
  }
  .mobile_header_left .logo a img {
    width: 100px;
    height: auto;
    margin-left: 40px;
  }
  .mobile_header_right {
    height: 100%;
  }
  .mobile_header_right .btn-search {
    background: #fff;
    border: none;
    font-size: 25px;
    margin-right: 10px;
  }
  
  
  .add_card_icon {
    border-right: inherit;
    margin-right: 5px;
  }
  
  
  .add_card_icon > div.heart {
    margin-right: inherit;
  }
  .sign_in a {
    font-size: 25px;
    text-decoration: none;
    color: #000;
  }
  
  
  
  .mobile_manu {
    
    width: 300px;
    position: absolute;
    background: #fff;
    color: #fff;
    top: 0;
    background-color: #F7FAFC;
    left: 0;
    height: 100%;
    padding: 20px;
    transform: translateX(-350px);
    transition: transform .3s ease-in-out;
    z-index: 9;
  } 
  
  
  .mobile_manu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mobile_manu nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    display: block;
    border-bottom: 1px solid #ddd;
    color: #fff;
    padding: 10px;
  }
}

#menuToggle {
  display: none;
}


select {
  border: 1px solid gray;
  outline: 0;
  padding: 5px;
  border-radius: 3px;
}

.custom-carusel {
  background-color: red;
  position: relative;
}

.custom-carusel .text-box {
  position: absolute;
  top: 50%;
}


.carousel-caption {
  text-align: left !important;
  left: 0% !important;
  
}
