@media (max-width:768px) {
	.mobile_header {
		display: block;
		box-shadow: 0 0 20px #0000000a;
		padding: 0 16px;
		display: block; 
        background-color: red;
	}
	.search_bar_header {
		display: none;
	}
	.header_manu {
		display: none;
	}
	.th_bar {
		>div {
			width: 40px;
			height: 2px;
			background-color: #ddd;
			&:nth-child(2) {
				margin: 8px 0;
			}
		}
	}
	.mobile_header_left {
		.logo {
			width: 100%;
			a {
				img {
					width: 150px;
					height: auto;
					margin-left: 40px;
				}
			}
		}
	}
	.mobile_header_right {
		height: 100%;
		.btn-search {
			background: #fff;
			border: none;
			font-size: 25px;
			margin-right: 10px;
		}
	}
	.add_card_icon {
		border-right: inherit;
		margin-right: 5px;
		>div.heart {
			margin-right: inherit;
		}
	}
	.sign_in {
		a {
			font-size: 25px;
			text-decoration: none;
			color: #000;
		}
	}
	.mobile_manu {
		nav {
			ul {
				li {
					a {
						text-decoration: none;
						font-size: 16px;
						color: #000;
						text-transform: capitalize;
						display: block;
						border-bottom: 1px solid #ddd;
					}
				}
				list-style: none;
				padding: 0;
				margin: 0;
			}
		}
		width: 300px;
		position: absolute;
		background: rgba(255, 255, 255, 0.146);
		color: #fff;
		top: 0;
	}
}
