
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import 'variables';

// @import "../node_modules//bootstrap/scss/bootstrap.scss";




// ===============================header============================== 
body{
    font-family: 'Poppins', sans-serif !important;
   
}
.header_top{
    background-color: #394357;;
}

// ===============================header==============================
.accordion-body {
    text-align: left;
} 
.custom{
    color:$custom;
}
.custom-btn{
    padding:0;
    background: transparent;
    border: 1px solid gray;
    padding: 3px 0;
} 
.view-group{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    background-color: red;
} 
.pagination {
 

  display:flex;
  justify-content:center;
ul{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding:0;
    margin:0;
}
    li{
        list-style-type: none;  
         border-radius: 4px;
         
        a{
            text-decoration:none;
            font-size: 20px;
            color: #555;
            display: inline-block;
            padding:10px 10px;
            border-radius: 8px;
        }
        &:hover{
           background:$primary;
           color: #fff;
        }
    } 
   
}

.category-radio , .sorting-radio{ 
    
    ul{ 
        margin: 0;
        padding: 0;
        li{
            list-style-type: none; 
            &:nth-child(even){
            background: #F2F5F880;
              ;
            }
       
        } 
        input[type="radio"]{
            display: none; 
            &:checked {
                + {
                    span {
                        text-align: center; 
                        &:before {
                            box-shadow: inset 0 0 0 5px $primary;
                        }
                    }
                }
            }
        }  


      
        label{
            display: block;
            cursor: pointer;
            font-weight: 500;
            margin-bottom: 10px; 
            font-size: 14px;

           span{
                display: inline-flex;
                align-items: center;
                padding: 10px 20px 10px 10px;
                border-radius: 31px;
                transition: .25s ease; 
                
                &:before {
                    content: "";
                    background-color: #fff;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 10px;
                    transition: .25s ease;
                    box-shadow: inset 0 0 0 2px $primary;
                }
                
            } 

       
        } 

    }
} 


.checkbox-div{
    ul{ 
        margin: 0;
        padding: 0;
        li{
            list-style-type: none; 
            display: flex;
            justify-content: space-between;
           
            &:nth-child(even){
                background: #F2F5F880;
                
                
           
            }  

            div{
                display: flex;
                gap:5px;
                align-items: center;
                label{
                     
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 10px 0;
                }
            }
            .color-name{
                height: 20px;
                width: 20px;
              
                border-radius: 50%; 
                cursor: pointer;
                

              
            } 
            .black{
                background-color: black;
            }
            .red{
                background-color: red;
            }
            .golden{
                background-color:gold;
            }
            .white{
                background-color: white;
            }
          
    }
        input[type="checkbox"]{
           accent-color: $primary; 
           width: 20px;
            height: 20px;
        }

    }

          } 

.size-container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    button{
         border: none;
        //  box-shadow:inset 0px 0px 0px 1px #E4EAF1;
        border: 1px solid #E4EAF1;
        padding: 5px 10px ; 
        flex-grow: 1;
        transition: all .5s; 
        border-radius: 4px;
        &:hover{
            // box-shadow:inset 0px 0px 0px 1px $primary;
            border: 1px solid $primary;
           
        }
    }
} 

#accordion-custom{
   &:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
   }
} 

#accordionItem{
    border: none !important;
   

} 
.accordion-button:not(.collapsed) {

    box-shadow: none !important;
    background-color: transparent !important; 
    color: transparent;
} 


// footer

footer{
   .img-container{
    background-color:  #F8F8F9;;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
   }
} 




// responsive


// range slider custom css
.irs--round .irs-handle {
    color: $primary !important;
    background-color: $primary !important;
}
.irs--round .irs-from{
    background-color: $primary !important;
}
.irs--round .irs-bar {
  background-color: $primary !important;
}
.irs--round .irs-handle {
 border: 4px solid $primary !important;
}
.irs--round .irs-to{
  background-color: $primary !important;
} 


// carusel custom css

.carousel-item{
    position: relative;
    height: 400px;
    .content{
        position: absolute;
        bottom: 2%;
        padding-right: 30px;
        width: 60%;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 3%;
        
      }
      img{
        height: 100%;
      }
      .buttons{
        display: flex; 
        .btn-container{
            background: #f1f1f1;
            height: 40px;
            width: 40px;
            margin-right: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
          }
      }
  } 

.pagination li a:hover {
 color: #fff !important;
} 
.bg-success-custom {
    background: #95cc1f !important;
  }
  .model {
    font-size: 11px;
  }
  .prize {
    font-size: 14px;
    color: #0d111b;
  }

